section{
    width: 80%;
    height: 800px;
    /* background-image:url("https://images.unsplash.com/photo-1590516445730-da692ab30f7f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    margin: auto; */
    background:center/cover url("https://images.unsplash.com/photo-1518173946687-a4c8892bbd9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=934&q=80") blueviolet;
    margin: auto;
}
h1{
    font-size:xx-large;
    color: white;
    text-align: center;
}