div{
    width: 100px;
    height: 100px;
    background-color: #3d405b;
    border:2px solid black;
    margin: 10px;
    display: inline-block;
}

#middle{
  background-color: #81b29a;
}

#static #middle{
  position: static;
  top: 100px;
}

#relative #middle
{
  position: relative;
  /* relative to whare it wolde be */
  top: 100px;
  left: -120px;

}
#absolute {
  position: relative;
}


#absolute #middle {
  position:absolute;
  top: 5px;
  left: 50px;
}

#fixed #middle{
  position: fixed;
  top: 0px;
  left:0px;
}
